@page
@model WarehouseCRUD.Storage.Pages.Storage.CellTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CellType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CellType.Id" />
            <div class="form-group">
                <label asp-for="CellType.Name" class="control-label"></label>
                <input asp-for="CellType.Name" class="form-control" />
                <span asp-validation-for="CellType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellType.MaxWeight" class="control-label"></label>
                <input asp-for="CellType.MaxWeight" class="form-control" />
                <span asp-validation-for="CellType.MaxWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellType.Length" class="control-label"></label>
                <input asp-for="CellType.Length" class="form-control" />
                <span asp-validation-for="CellType.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellType.Width" class="control-label"></label>
                <input asp-for="CellType.Width" class="form-control" />
                <span asp-validation-for="CellType.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellType.Height" class="control-label"></label>
                <input asp-for="CellType.Height" class="form-control" />
                <span asp-validation-for="CellType.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
