@page
@model WarehouseCRUD.Storage.Pages.Storage.CellTypes.IndexModel

@{
    ViewData["Title"] = "Типы ячеек";
}

<h1>Список типов ячеек</h1>


<div>
    <div class="col-sm-12" style="padding:20px">
        <button onclick="jQueryModalGet('?handler=Create','Создать новый тип ячеек')" class="btn btn-success">
            Добавить
        </button>
        <button id="reload" class="btn btn-warning">
            Обновить
        </button>
    </div>
    <div id="viewAll" class="card-body table-responsive"></div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function() {
            $('#viewAll').load('?handler=ViewAllPartial');
        });
        $(function() {
            $('#reload').on('click', function() {
                $('#viewAll').load('?handler=ViewAllPartial');
            });
        });
    </script>
}
